.cardItem {
  display: block;
  border: 1px solid gray;
  height: 250px;
  width: 250px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  overflow: hidden;
}
.cardItem:hover {
  background-color: rgb(238, 238, 238);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
